{% load static %}
{% load dashboards_extras %}
          <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <i class='bx bx-grid-alt bx-sm'></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0">
              <div class="dropdown-menu-header border-bottom">
                <div class="dropdown-header d-flex align-items-center py-3">
                  <h5 class="text-body mb-0 me-auto">Дашборды</h5>
                  <a href="javascript:void(0)" class="dropdown-shortcuts-add text-body" data-bs-toggle="tooltip" data-bs-placement="top" title="Add shortcuts"><i class="bx bx-sm bx-plus-circle"></i></a>
                </div>
              </div>
              <div class="dropdown-shortcuts-list scrollable-container">
                <div class="row row-bordered overflow-visible g-0">
                  <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                      <img src="{% static 'img/illustrations/girl-app-academy.png' %}" width="60" alt="">
                    </span>
                    <a href="{% url 'sap_data:main' %}" class="stretched-link">Сводная</a>
                    <small class="text-muted mb-0">Статистика филиалов</small>
                  </div>
                  <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                      <img src="{% static 'img/illustrations/man-with-laptop-light.png' %}" width="60" alt="">
                    </span>
                    <a href="{% url 'sap_data:manager' %}" class="stretched-link">Менеджеры</a>
                    <small class="text-muted mb-0">Статистика по менеджерам</small>
                  </div>
                </div>
                <div class="row row-bordered overflow-visible g-0">
                  <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                      <img src="{% static 'img/illustrations/boy-app-academy.png' %}" width="60" alt="">
                    </span>
                    <a href="{% url 'sap_data:customer' %}" class="stretched-link">Клиенты</a>
                    <small class="text-muted mb-0">Портфели закупок</small>
                  </div>
                  <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                      <img src="{% static 'img/illustrations/rocket.png' %}" width="40" alt="">
                    </span>
                    <a href="{% url 'sap_data:month' %}" class="stretched-link">Текущая</a>
                    <small class="text-muted mb-0">Оперативная статистика</small>
                  </div>
                </div>
                <div class="row row-bordered overflow-visible g-0">
                  <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                      <img src="{% static 'img/illustrations/pencil-rocket.png' %}" width="40" alt="">
                    </span>
                    <a href="{% url 'sap_data:compare' %}" class="stretched-link">Пример</a>
                    <small class="text-muted mb-0">Сравнение</small>
                  </div>
                  <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                      <i class="bx bx-cog fs-4"></i>
                    </span>
                    <a href="{% url 'dashboard:not-implemented' %}" class="stretched-link">Setting</a>
                    <small class="text-muted mb-0">Account Settings</small>
                  </div>
                </div>
                <div class="row row-bordered overflow-visible g-0">
                  <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                      <i class="bx bx-help-circle fs-4"></i>
                    </span>
                    <a href="{% url 'dashboard:faq' %}" class="stretched-link">FAQs</a>
                    <small class="text-muted mb-0">Частые вопросы и статьи</small>
                  </div>
                  <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                      <i class="bx bx-window-open fs-4"></i>
                    </span>
                    <a href="{% url 'dashboard:not-implemented' %}" class="stretched-link">Modals</a>
                    <small class="text-muted mb-0">Useful Popups</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
