# To be placed in project root directory as .env

SECRET_KEY=
POLYNEX_CONTAINER_NAME=
REDIS_CONTAINER_NAME=
CELERY_CONTAINER_NAME=
PG_CONTAINER_NAME=

POLYNEX_POSTGRES_DB=
POLYNEX_POSTGRES_USER=
POLYNEX_POSTGRES_PASSWORD=
POLYNEX_PGDATA=

INFO_POSTGRES_DB=
INFO_POSTGRES_USER=
INFO_POSTGRES_PASSWORD=

DUMP_VOLUME=

CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

ALLOWED_HOSTS=
STATICFILES=